form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
form label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #464646;
  margin-bottom: 15px;
  position: relative;
}
form label input {
  width: 480px;
  height: 58px;
  margin-top: 10px;
  font-size: 16px;
  outline: none;
  border: none;
  padding-left: 26px;
}
form label textarea {
  width: 480px;
  height: 184px;
  font-size: 16px;
  margin-top: 10px;
  outline: none;
  border: none;
  padding: 26px;
  resize: none;
}
form button {
  width: 193px;
  height: 61px;
  background-color: #ff0000;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}
form label span {
  display: flex;
  justify-content: end;
  color: red;
  margin-top: 5px;
}
form label .arrow{
position: absolute;
right:10px;
top: 50px;
}
/* .red{
  background-color: red;
} */
