.mainBox {
  width: 100%;
  height: 1110px;
  padding: 58px 156px 239px 156px;
}
.mainBox .container {
  width: 100%;
  height: 866px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  background-color: #efefef;
}
.container .ContainerLeftBox {
  width: 615px;
  height: 710px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .ContainerRightBox {
  width: 480px;
  height: 710px;
}
.ContainerLeftBox h1 {
  font-size: 40px;
  font-weight: 700;
}
.ContainerLeftBox p {
  font-size: 17px;
  width: 429px;
}
.LeftMiddleBox {
  width: 615px;
  height: 453px;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  background-color: white;
}
.socialMediaBox {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.socialMediaBox a svg path {
  fill: red;
}
.ContainerLeftBox p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
}
.LeftMiddleBox .contactBox {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contactBox a {
  text-decoration: none;
  color: #0e2a46;
  font-size: 18px;
}
.contactBox .paBox {
  height: 80px;
  width: 450px;
  display: flex;
  flex-direction: column;
}
.paBox a {
margin-top: 5px;
}

